*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* 1 HEADER */
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;    
    padding: 60px 0;
}
.hamburguer{
    top:30px;
    right: 30px;
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    border-radius: 5px;
    cursor: pointer;
}
.menu-navegacion{
    top:0;
    right: 0;
    position: fixed;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vh;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
}
.menu-navegacion a{
    text-decoration: none;
    color: #fff;
}
.header{
    height: 100vh;
    background-image: linear-gradient(to top, #f1c9be73 0%, #eec5ee91 100%),url(../img/woman.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    height: 90%;
    /* padding: 0; */
}
.titulo{
    font-size: 80px;
    margin-bottom: 20px;
}
.slogan{
    font-size: 30px;
}

/* 2 SERVICIO */
.subtitulo{
    color:#9f8ad0;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 40px;
}
.contenedor-servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}
.service{
    margin-bottom: 20px;    

}
.n-service{
    margin-bottom: 7px;
    color:#9f8ad0;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    font-weight: 700;
}